/* login form css */

.app {
  font-family: "Poppins";
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 96vh;
  background-color: #f8f9fd;
}

input[type="text"],
input[type="password"] {
  height: 38px;
  padding: 0 10px;
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
}

input[type="submit"]:hover {
  background: #6cf0c2;
}

.button-container {
  display: flex;
  justify-content: center;
}

.login-form {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 400px;
  width: 100%;
  margin: auto;
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* margin: 10px; */
}

.input-container:not(:first-child) {
  margin-top: 10px;
}

.type-chat {
  width: 100% !important;
}

.chat-room {
  height: 100%;
  width: 100%;
  max-width: 500px;
}

.message-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 500px;
  overflow-y: auto;
}

.message {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 4px;
}

.message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-username {
  font-weight: bold;
}

.delete-button,
.logout-button {
  background-color: #01d28e;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.message-content {
  margin-top: 5px;
}

.message-timestamp {
  text-align: right;
  font-size: 12px;
  color: #aaa6a6;
  padding-right: 10px;
}

.message-input-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 24px;
}

.send-message input {
  height: 28px;
  margin-top: 0;
  border-radius: revert;
  padding: 0;
  width: 62px;
  height: 40px;
}

.chat-room .chat-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.chat-room .chat-label button {
  background-color: #f4455b;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #aaa6a6;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #aaa6a6;
}
